.spot_cell
  = link_to image_tag( lorem.image("100x100"), :alt => "", :class => "spot_image"), "#", :title => "景點連結"
  .spot_infobox
    .spot_title
      %span.city
        台北市 > 大安區
      = link_to lorem.sentence, "#", :title => "景點連結"
    .spot_info
      .user 
        = link_to lorem.name, "#", :title => "作者"
      .date
        = lorem.date
    .spot_quote
      = link_to lorem.sentences(5), "#", :title => "景點連結"